@keyframes floating {
    0% {top: 0px;}
    50% {top: -40px;}
    100% {top: 0px;}
}

.outer_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_container
{
    display: flex;
    flex-direction: column;
    background-color: oldlace;
    border-radius: 0.25rem 0.5rem 0.05rem 0.1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #EFC3E6;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color 1s, border-radius .1s, box-shadow 1s ease-in;
}

.main_container:hover
{
    background-color: #EFC3E6;
    box-shadow: .1rem .1rem 1rem #9C89B8;
    border-radius: 50%;
    transition: background-color 1s, border-radius .1s, box-shadow 1s ease-out;
}

.caption
{
    font-size: 1rem;
    color: #330C2F;
    font-weight: bold;
    background-color: #F0E6EF;
    border-radius: 0.5rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    text-align: center;
    user-select: none;
}

.caption p {
    text-shadow: 0 0.1rem 0.5rem #F0A6CA;
}

.floating_emoji
{
    font-size: 3rem; 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-out;
    z-index: 2;
}

.floating_emoji:hover
{
    position: relative;
    font-size: 3.1rem;
    animation: floating 1s infinite;
    animation-timing-function: linear;
    text-shadow: .1rem .1rem 1rem rgba(51, 12, 47, 0.658);
    transition: all 1s ease-out;
}

.emoji_trial
{
    position: absolute;
    font-size: 2.5rem; 
    color: #F0A6CA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}